---
import rectangle from '../../assets/Rectangle.png'
---


<section class="flex flex-col px-4 sm:px-8 lg:px-20 gap-y-14 py-14">
  <div class="flex flex-col gap-y-3 lg:w-[60%]">
    <h1 class="text-[32px] sm:text-[48px] lg:text-[64px]">
      Elevating Your Brand's Identity
    </h1>
    <p class="text-xl text-white">
      Your brand's identity is at the core of your business, and it's our
      privilege to enhance it through video storytelling. We believe that video
      is the medium that connects brands to their audience, and we're here to
      craft your unique narrative.
    </p>
  </div>

  <div class="flex flex-col lg:flex-row gap-y-8 gap-x-28 items-center">
    <img src={rectangle.src} class="w-full" alt="">
    <p class="text-xl text-white">Our expertise in video storytelling goes beyond the visual. It's about weaving a narrative that speaks directly to your audience, creating a connection that goes beyond words. With tifi.tv, your branding and marketing efforts are not just campaigns; they're stories waiting to be told.</p>
  </div>
</section>

<style>
  section {
    background: rgba(16, 24, 40, 0.7);
  }

  h1 {
    color: var(--base-white, #fff);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
</style>
