<section class="flex flex-col px-4 sm:px-8 lg:px-20 items-center gap-y-14 py-14">
  <div class="flex flex-col gap-y-3 items-center">
    <h1 class="text-[32px] sm:text-[48px] lg:text-[64px]">Our Impact on Businesses</h1>
    <p class="text-base">Stories of transformation, engagement, and success.</p>
  </div>

  <div class="flex flex-col sm:flex-row justify-evenly py-6 gap-6 w-full sm:w-[80%] mx-auto impact items-center">
    <div class="flex flex-col items-center">
      <p id="impact-p">3000<span class="text-primaryorange">+</span></p>
      <p>Businesses empowered</p>
    </div>
    <div class="flex flex-col items-center">
      <p id="impact-p">50<span class="text-primaryorange">%</span></p>
      <p>growth in online engagement</p>
    </div>
    <div class="flex flex-col items-center">
      <p id="impact-p">100m<span class="text-primaryorange">+</span></p>
      <p>Total views</p>
    </div>
  </div>

  <div>
   <p class="text-base mx-auto text-center w-[80%]"> These figures reflect the tangible results we deliver to businesses across diverse sectors. Our video editing and storytelling expertise drive growth and success</p>
  </div>
</section>

<style>
  section {
    background-image: url(../../assets/impact.png);
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  h1 {
    color: var(--gray-1100, #101828);
    text-align: center;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  #impact-p {
    text-align: center;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .impact {
    border-radius: 24px;
    background: var(--gray-300, #f2f4f7);
  }
</style>
