---
import pallete1 from "../../assets/pallete1.png";
import pallete2 from "../../assets/pallete2.png";
import pallete3 from "../../assets/pallete3.png";
import arrow from "../../assets/white-arrow.png";
---

<section class="px-4 bg-[#F2F4F7] my-16 flex flex-col items-center gap-y-14 py-16 sm:px-8 lg:px-20">
  <div>
    <h1 class="text-[32px] sm:text-[48px] lg:text-[64px]">Our Palette of <span class="text-primaryorange">Corporate</span> Video Services</h1>
    <p class="text-center">Unlocking the Power of Visual Storytelling for Your Business</p>
  </div>

  <div class="flex flex-col lg:flex-row gap-8">
    <div class="flex flex-col items-center rounded-b-lg">
      <img src={pallete1.src} class="w-full rounded-t-lg" alt="" />
      <div class="flex flex-col items-center px-4 py-8 bg-white text-center">
        <p class="text-lg font-bold">Product <span class="text-primaryorange">Demonstrations</span></p>
        <p class="text-base text-[#344054]">
          Present your products in their best light with dynamic and engaging
          demonstrations that showcase their features and benefits.
        </p>
      </div>
    </div>

    <div class="flex flex-col items-center rounded-b-lg">
        <img src={pallete2.src} class="w-full rounded-t-lg" alt="" />
        <div class="flex flex-col items-center px-4 py-8 bg-white text-center">
            <p class="text-lg font-bold">Promotional <span class="text-primaryorange">Videos</span></p>
            <p class="text-base text-[#344054]">
            Present your products in their best light with dynamic and engaging
            demonstrations that showcase their features and benefits.
          </p>
        </div>
      </div>

      <div class="flex flex-col items-center rounded-b-lg">
        <img src={pallete3.src} class="w-full rounded-t-lg" alt="" />
        <div class="flex flex-col items-center px-4 py-8 bg-white text-center">
            <p class="text-lg font-bold"><span class="text-primaryorange">Internal </span>Communications</p>
          <p class="text-base font-sans text-[#344054]">
            Present your products in their best light with dynamic and engaging
            demonstrations that showcase their features and benefits.
          </p>
        </div>
      </div>
  </div>

  <div class="flex flex-col items-center gap-y-12">
    <p class="text-center w-[60%]">We believe that every video has a story to tell, and every story has a message that connects. Our corporate video services are not just about visuals; they're about creating a lasting impact on your branding and marketing goals.</p>
    <button
    class="bg-[#FF601F] font-button text-base font-extrabold mx-auto px-5 py-3 flex gap-x-3 items-center text-white rounded-lg"
    >LET'S TALK! <img src={arrow.src} alt="" /></button
  >
  </div>
</section>

<style>
    h1 {
        color: var(--gray-1100, #101828);
text-align: center;
font-style: normal;
font-weight: 600;
line-height: normal;
    }
</style>