<section class="text-center lg:rounded-2xl px-4 flex lg:w-[80%] pb-11 gap-y-6 justify-center mx-auto flex-col items-center">
    <h1 class="text-[32px] sm:text-[48px] lg:text-[72px]">For <span class="text-primaryorange">Individuals</span></h1>
    <p class="lg:w-[65%]">In the realm of video creativity, every frame is a canvas, and we're here to help you paint your stories. Welcome to tifi.tv, where we cater to the unique needs of content creators, travelers, vloggers, and individuals with a passion for visual storytelling.</p>
</section>

<style>
    section {
background: linear-gradient(180deg, rgba(234, 236, 240, 0.00) 35.1%, #EAECF0 100%);
height: 400px;
    }
    h1 {
        color: var(--gray-1100, #101828);
font-style: normal;
font-weight: 900;
line-height: normal;
    }

    p {
        color: var(--gray-1000, #1D2939);
text-align: center;
font-family: Noto Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 160%; /* 25.6px */
    }
</style>