---
import PageLayout from '../layouts/PageLayout.astro';
import Card from '../components/Card.astro';
import FAQ from "../components/faq/FAQ.astro"
---

<PageLayout title="Welcome to Astro." titleHeader=''>
	<h1>Welcome to <span class="text-gradient">Astro</span></h1>
  <a href="/#">navigate</a>
</PageLayout>

<style>
</style>
