---
import arrow from "../../assets/white-arrow.png";
---
<main class="lg:px-28 mb-20 pt-20">
  <div id="hero" class="text-center space-y-10 w-full h-12">
  <div class="flex flex-col items-center space-y-6">
    <h1 class="text-[#101828] font-serif text-center xl:w-[70%] text-[32px] sm:text-[58px] lg:text-7xl font-black">
      Crafting Visual Stories <span class="text-[#FF601F] lg:text-inherit">Beyond</span> Imagination
    </h1>

    <p class="text-base">
      Elevate your brand, Experience the power of storytelling through the lens
      of creativity and innovation.
    </p>
  </div>

  <button
    class="bg-[#FF601F] text-base font-extrabold mx-auto px-5 py-3 flex gap-x-3 items-center text-white rounded-lg"
    >LET'S TALK! <img src={arrow.src} alt="" /></button
  >
</div>
</main>

