<section class="flex bg-[#1D2939] flex-col items-center gap-y-6 pt-[80px] pb-10 text-center">
  <h1 class="text-[48px] xl:text-[64px] text-white font-semibold">Our Curated Masterpieces</h1>
  <p class="text-base text-[#98A2B3] px-4 sm:px-[7rem] lg:px-0 xl:w-[50%]">
    Projects that define our commitment to storytelling, innovation, and the art
    of video editing. Each video is a masterpiece, a testament to our dedication
    to making your vision a reality
  </p>
</section>
