<section class="bg-[#110A18] py-24 text-white">
    <h1 class="uppercase font-serif text-[40px] sm:text-[64px] lg:w-[60%] mx-auto text-primarygrey text-center font-extrabold">We are more than just a website.</h1>
</section>