---
import { storytelling } from "../../data.astro";
import Storytellingcard from "./storytellingcard.astro";
import arrow from "../../assets/black-arrow.png";
---

<main class="flex flex-col my-[5rem] items-center gap-y-16">
  <h2 class="text-[32px] font-serif sm:text-[48px] lg:text-[64px] font-semibold w-[80%] text-center">
    ...we are your creative partner in <span class="text-primaryorange"
      >visual</span
    > storytelling...
  </h2>

  <div class="grid sm:grid-cols-3 lg:grid-cols-4 px-8 xl:px-20 gap-6">
    {
      storytelling.map((item) => (
        <Storytellingcard
          icon={item.icon}
          desc={item.desc}
          title={item.title}
        />
      ))
    }
  </div>

  <button
    class="flex font-button items-center rounded-lg border font-extrabold text-base border-[#98A2B3] gap-x-3 px-5 py-4"
    >EXPLORE ALL SERVICES <img src={arrow.src} alt="arrow-icon" /></button
  >
</main>
