---
import ellipse from "../../assets/ellipse.svg";
---

<section class="py-24">
  <div class="flex flex-col items-center">
    <p class="text-xl font-bold text-primaryorange">OUR REPUTATION</p>
    <p class="sm:text-[45px] text-center xl:text-[64px] font-semibold">
      Why our Clients love us
    </p>
  </div>

  <div
    class="mt-10 py-6 flex gap-4 overflow-scroll justify-center items-center"
   
  >
    <div
      class="min-w-[18rem] sm:min-w-[27.85rem] bg-white p-6 rounded-lg text-2xl text-gray-1100 hover:bg-primaryblue hover:text-white md:text-3xl"
     
    >
      <span class="text-primaryorange italic">"</span><p
        class="mt-4"
       
      >
        Absorbed our model immediately!!
      </p><div
        class="py-4 flex gap-2 justify-start items-center"
       
      >
        <div
          class="w-12 h-12 bg-[#D9D9D9] rounded-full"
         
        >
        </div><div class="grid">
          <span class="text-sm md:text-base font-bold"
            >Stephan Crew</span
          ><span
            class="text-xs md:text-sm"
           >Content Creator</span>
        </div>
      </div>
    </div><div
      class="min-w-[18rem] sm:min-w-[27.85rem] bg-white p-6 rounded-lg text-2xl text-gray-1100 hover:bg-primaryblue hover:text-white md:text-3xl"
     
    >
      <span class="text-primaryorange italic">"</span><p
        class="mt-4"
       
      >
        Took time to learn our business
      </p><div
        class="py-4 flex gap-2 justify-start items-center"
       
      >
        <div
          class="w-12 h-12 bg-[#D9D9D9] rounded-full"
         
        >
        </div><div class="grid">
          <span class="text-sm md:text-base font-bold"
            >Andrew Price</span
          ><span
            class="text-xs md:text-sm"
           >CMBBS</span>
        </div>
      </div>
    </div><div
      class="min-w-[18rem] sm:min-w-[27.85rem] bg-white p-6 rounded-lg text-2xl text-gray-1100 hover:bg-primaryblue hover:text-white md:text-3xl"
     
    >
      <span class="text-primaryorange italic">"</span><p
        class="mt-4"
       
      >
        Genuine and special team members
      </p><div
        class="py-4 flex gap-2 justify-start items-center"
       
      >
        <div
          class="w-12 h-12 bg-[#D9D9D9] rounded-full"
         
        >
        </div><div class="grid">
          <span class="text-sm md:text-base font-bold"
            >Barry Bones</span
          ><span
            class="text-xs md:text-sm"
           >MTN</span>
        </div>
      </div>
    </div><div
      class="min-w-[18rem] sm:min-w-[27.85rem] bg-white p-6 rounded-lg text-2xl text-gray-1100 hover:bg-primaryblue hover:text-white md:text-3xl"
     
    >
      <span class="text-primaryorange italic">"</span><p
        class="mt-4"
       
      >
        They pull it off, again and again
      </p><div
        class="py-4 flex gap-2 justify-start items-center"
       
      >
        <div
          class="w-12 h-12 bg-[#D9D9D9] rounded-full"
         
        >
        </div><div class="grid">
          <span class="text-sm md:text-base font-bold"
            >Andy Curry</span
          ><span
            class="text-xs md:text-sm"
           >AirBnb</span>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="overflow-x-auto">
    <div class="flex space-x-4">

      <div class="text-white flex flex-col gap-y-8 min-w-[18rem] sm:min-w-[27.85rem] p-6" id="card">
        <div>
          <span class="font-semibold text-primaryorange sm:text-[40px]">
            "</span
          >

          <p class="font-semibold sm:text-[40px]">They pull it off, again 
          and again.
        </div>

        <div class="flex items-center gap-x-4">
          <img src={ellipse.src} alt="" />
          <span class="flex flex-col gap-y-1">
            <p class="text-base font-bold">Barry Bones</p>
            <p class="text-sm text-[#D0D5DD]">MTN</p>
          </span>
        </div>
      </div>
    </div>
  </div> -->
</section>

<style>
  #card {
    border-radius: 8px;
    background: var(--gray-1100, #101828);
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }

  section {
    background-image: url(../../assets/impact.png);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
</style>
