---
import special1 from "../../assets/special-1.png";
import special2 from "../../assets/special-2.png";
import special3 from "../../assets/special-3.png";
import arrow from "../../assets/black-arrow.png";
---

<section class="px-4 lg:px-8 xl:px-[10rem] py-20 flex flex-col gap-y-[88px]">
  <h1 class="text-[32px] sm:text-5xl lg:text-[64px] font-semibold text-center">
    ...but, what makes us so special?
  </h1>

  <div class="flex flex-col items-center gap-y-12">
    <div class="flex flex-col lg:flex-row lg:items-center gap-12 justify-center">
      <div class="flex flex-col gap-y-4 flex-1">
        <span class="text-[#D0D5DD] font-bold text-[54px]">01</span>

        <div class="flex flex-col gap-y-2">
          <h4 class="text-2xl font-serif sm:text-[32px] font-medium">
            We <span class="text-primaryorange">Craft</span> Compelling Media
          </h4>
          <p class="text-base font-sans text-[#344054]">
            We empower you to create captivating stories that resonate with your
            audience.
          </p>
        </div>
      </div>

      <div class="flex-1">
        <img src={special1.src}  class="w-full h-[20rem] lg:h-full object-fit" alt="" />
      </div>
    </div>

    <div class="flex flex-col lg:flex-row lg:items-center gap-12 justify-center">
      <div class="flex flex-col gap-y-4 flex-1">
        <span class="text-[#D0D5DD] font-bold text-[54px]">02</span>

        <div class="flex flex-col gap-y-2">
          <h4 class="text-2xl font-serif sm:text-[32px] font-medium">
            We Stay <span class="text-primaryorange">Ahead</span> of Trends
          </h4>
          <p class="text-base font-sans text-[#344054]">
            We provide insights to help you navigate the ever-changing video
            landscape, ensuring your content remains relevant.
          </p>
        </div>
      </div>

      <div class="flex-1">
        <img src={special2.src} class="w-full h-[20rem] lg:h-full object-fit" alt="" />
      </div>
    </div>

    <div class="flex flex-col lg:flex-row lg:items-center gap-12 justify-center">
      <div class="flex flex-col gap-y-4 flex-1">
        <span class="text-[#D0D5DD] font-bold text-[54px]">03</span>

        <div class="flex flex-col gap-y-2">
          <h4 class="text-2xl sm:text-[32px] font-medium">
            We Elevate Visual <span class="text-primaryorange">Quality</span>
          </h4>
          <p class="text-base text-[#344054]">
            We enhance your videos to ensure they are visually stunning, leaving
            a lasting impact.
          </p>
        </div>
      </div>

      <div class="flex-1">
        <img src={special3.src} class="w-full h-[20rem] lg:h-full object-fit" alt="" />
      </div>
    </div>
  </div>

  <button
  class="flex items-center font-button w-fit mx-auto justify-center rounded-lg border font-extrabold text-base border-[#98A2B3] gap-x-3 px-5 py-4"
  >VIEW RECENT WORK <img src={arrow.src} alt="arrow-icon" /></button
>
</section>
