<section class="bg-[#110A18] font-serif flex flex-col px-6 sm:px-12 xl:px-36 justify-center py-24 text-white">
    <h1 class="uppercase text-[32px] sm:text-[64px] xl:text-[100px] text-primarygrey font-extrabold">Your vision</h1>
    <h1 class="uppercase text-[32px] sm:text-[64px] xl:text-[100px] text-end text-primarygrey font-extrabold">...is our mission</h1>
</section>