---
import logo from "../assets/tifii.png";
import fb from "../assets/facebook.png";
import twitter from "../assets/twitter.png";
import linkedin from "../assets/linkedin.png";
---

<footer class="px-4 sm:px-8 lg:px-20 flex flex-col gap-y-12 py-16">
  <div class="flex flex-col gap-y-8">
    <img class="w-[67px]" src={logo.src} alt="" />
    <p class="text-base">
      Experience the power of storytelling through the lens of creativity and
      innovation.
    </p>

    <div class="flex flex-wrap text-base text-[#667085] gap-8">
      <p>Portfolio</p>
      <p>Resources</p>
      <p>For Businesses</p>
      <p>For Individuals</p>
    </div>
  </div>

  <div class="flex flex-col gap-y-6 sm:flex-row border-t pt-8 sm:items-center justify-between">
    <p>© 2077 Tifi. All rights reserved.</p>

    <div class="flex gap-x-6">
      <img src={twitter.src} alt="" />
      <img src={linkedin.src} alt="" />
      <img src={fb.src} alt="" />
    </div>
  </div>
</footer>
